* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(226, 225, 223, 0.918);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    background-color: rgb(243, 238, 238);
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid rgba(10, 10, 10, 0.219);
    display: grid;
    place-content: center;
    justify-items: center;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.137);
}

img {
    border-radius: 100px;
    width: 100px;

}

p {
    font-size: 2.3rem;
    font-weight: bold;
}

span {
    font-size: 1.2rem;
}


    
